body { 
    background: url('../images/bg.jpg') no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
  }

.jumbotron {
    background-color: #303030;
    color: #fff;
    margin-top: 5px;
}

p {
    /* float: right; */
    font-family: 'Ubuntu', sans-serif;
    font-size: 20px;
    font-weight: 650;
    letter-spacing: 2px;
}

h1 {
    font-family: 'Righteous', cursive;
    text-transform: uppercase;
    letter-spacing: 3px;
}

h3 {
    font-family: 'Ubuntu', sans-serif;
    letter-spacing: 2px;
}

.card-header {
    background-color: #303030;
    color: #fff;
    font-family: 'Ubuntu', sans-serif;
    font-weight: bold;
    font-size: 18px;
    letter-spacing: 2px;
}

.card {
    border-color: #303030
}

.newTrain {
    margin-bottom: 10px;
}

label {
    color: #000;
}