body { 
    background: url('../images/bg.jpg') no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
  }

.jumbotron {
    background-color: #303030;
    color: #fff;
    margin-top: 5px;
}

span {
    float: right;
}

h1 {
    font-family: 'Righteous', cursive;
}

h3 {
    font-family: 'Ubuntu', sans-serif;
}

.card-header {
    background-color: #505050;
    color: #fff;
    font-family: 'Ubuntu', sans-serif;
    font-size: 18px;
}

.card {
    border-color: #505050
}

.newTrain {
    margin-bottom: 10px;
}